$color-main-1: #ff84af;
$color-main-1-darkened: #5c4696;
$color-main-2: #b654a4;
$color-main-3: #200d36;
$color-card: #200d36;
$border-color: #323567;
$color-card-3: #281d44;
$datepicker-1: #ff9800;
$gradient-1: linear-gradient(285.82deg, #452867 -14.23%, #09092B 58.81%);
$border-radius: 2px;